.register input {
  width: 100px;
  margin: 10px;
}

/* submit */
.register input[type="text"] {
  width: 300px;
}
.register input[type="password"] {
  width: 300px;
}
.register input[type="submit"] {
  background-color: var(--dl-color-primary1-blue80);
  border-radius: 3px;
  padding: 10px;
  color: white;
  width: 200px;
}
.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dl-color-secondary-grey400);
  height: 100%;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
